html {
    scroll-behavior: smooth;
  }

body{
    font-family: Arial, Helvetica, sans-serif;
}

.main-header{
    display: flex;
    justify-content: space-between;
}

.main-logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.text-logo{
    height: 68px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo > h1{
    margin-left: 7px;
}

nav{
    display: flex;
    align-items: center;
}

.nav-button {
    background-color: transparent;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    padding: 0.5rem 1rem;
    border-radius: 12px;
    margin: 0 0.3rem;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    display: inline-block;
    text-align: center;
  }

.home-img{
    width: 100%;
    overflow: hidden;
}

.home-img > img {
    display: block;
    width: 100%;
    height: auto;
}

#home > button{
    margin: 5px;
    padding: 7px 10px;
    background-color: #a5a5a5;
}

.my-profile-main{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.my-profile-img{
    margin: 20px;
}

.my-profile-isi{
    margin-left: 20px;
}

#message-us{
    height: 500px;
}

.our-profile-main{
    display: flex;
}

.our-profile-main > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
    font-family: sans-serif;
}

.profile-1 > img{
    border: 1px solid;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 30px;
}

.profile-2 > img{
    border: 1px solid;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 30px;
}

.profile-3 > img{
    border: 1px solid;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 30px;
   
}

form > label{
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

form label[for="laki-laki"],
form label[for="perempuan"] {
  display: inline-block;
  font-weight: normal;
  margin-right: 15px;
}

form input[type="text"],
form input[type="date"],
form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 14px;
}

.message-us-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.message-us-main > div{
    flex: 1;
}

.form{
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
}

form > button {
    margin-top: 8px;
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid;
    border-radius: 6px;
    cursor: pointer;
  }

.form-output{
    border: 1px solid;
    margin: 10px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media only screen and (max-width: 600px){
    .main-header{
       display: flex;
       flex-direction: column;
       align-items: center;
    } 

    nav{
        flex-direction: column;
        width: 100%;
    }

    .nav-button {
        background-color: transparent;
        border: 2px solid rgb(0, 0, 0);
        color: rgb(0, 0, 0);
        padding: 0.5rem 1rem;
        border-radius: 12px;
        margin: 0 0.3rem;
        cursor: pointer;
        transition: 0.3s;
        text-decoration: none;
        display: inline-block;
        text-align: center;
        width: 200px;
        margin: 5px;
    }

    .our-profile-main{
        display: flex;
        flex-direction: column;
    }

    .my-profile-main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .message-us-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .form-output{
    border: 1px solid;
    margin: 20px;
    padding: 30px;
    padding-right: 200px;
    }
}